.main {
  width: 100%;
  position: fixed;
  top: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  background-color: #20bf55;
  background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
}

li {
  float: left;
  padding: 1rem;
  font-size: x-large;
}

li Link {
  display: block;
  color: blue;
  font-size: 20px;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
}

.cart {
  float: right;
  margin-right: 50px;
}